*{
	box-sizing: border-box;
}
body{
	font-family: glyphicons-halflings;
}
header{
	background-color: #00c300;
	padding: 5px;
	font-size: 35px;
	color: white;
	text-align: center;
}
section{
	display: table;
	clear: both;
}
.detail-dibeli{
	padding-top: 70px;
}
footer{
	background-color: #00c300;
	padding: 5px;
	text-align: center;
	color: white;
}
@media (max-width: 600px){
}
h3{
	text-align: center;
}
.judul-tabel{
	font-weight: bold;
	text-align: center;
	border-bottom: solid 1px black;

}
