body{
	font-family: glyphicons-halflings;
}
.navbar-brand{
	margin-top: -10px;
}
@media (max-width: 600px){
}
.atas{
	float: right;
}
.bawah{
	float: left;
}
.metod{
	font-weight: bold;
	text-align: center;
}

.polaroid {
	padding: 10px;
	margin: 6px;
	width: 100px;
	height: 150px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #fff;
}

.polaroid:hover{
	background: #eee;
}

.table-bordered{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #fff;
}

.imgnav{
    width: 250px;
    padding-right: 50px;
}
.search{
	margin-top: 7px;
}
.container{
	margin-top: 5%;
}
.panel-default{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #fff;
}